server:
  port: 8080

spring:
  application:
    name: mark-point

  datasource:
    url: jdbc:postgresql://localhost:5433/mark_point_db
    username: postgres
    password: postgres123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false


  h2:
    console:
      enabled: true
      path: /h2-console